.instar-inner {
    min-height: auto;

    h2.tit {
        color: var(--secondary);
    }

    p.txt {
        font-family: 'Source Serif Pro', serif;
        font-size: 2rem;
        font-style: italic;
    }

    .instar-list {
        display: flex;
        gap: 1rem;
        margin-top: 4rem;

        li {
            flex: 1;

            a {
                display: block;
                height: 21rem;
                overflow: hidden;
                border-radius: 1rem;
                background-size: cover;
                background-position: center;
                color: transparent;
                font-size: 0;
                transition: transform .3s;

                &:hover {
                    transform: translateY(-.6rem);
                }
            }
        }
    }

    @media screen and (max-width:1111px) {
        text-align: center;

        .instar-list {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    @media screen and (max-width:599px) {
        padding-left: 1.6rem;
        padding-right: 1.6rem;

        .instar-list {
            grid-template-columns: repeat(2, minmax(0, 1fr));

            li a {
                height: 46vw;
            }
        }
    }
}
